/* GENERIC STYLES */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #192021;
  background-color: #e1cd9b;
}

p {
  line-height: 20px;
}

nav {
  background-color: #a71313;
  color: white;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px gray;
}

nav p {
  font-size: 20px;
}

main {
  padding: 20px;
}

h2 {
  font-size: 20px;
  letter-spacing: 1px;
}

a {
  color: #f77d2d;
}

.box {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 40px;

  max-width: 700px;
  min-height: 300px;
  background-color: aliceblue;
  box-shadow: 0px 1px 2px gray;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0px 20px;
  float: left;
}

.images {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.images img {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.btn {
  background-color: #f77d2d;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: #192021;
}

.projects {
  background-color: #192021;
  color: white;
}

.container {
  text-align: center;
}

@media only screen and (max-width: 425px) {
  h2 {
    text-align: center;
  }

  .avatar {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
  }
}
